body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: blanchedalmond;
}

#header-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: rgb(71, 71, 141);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.first-section {
  margin-left: 20px;
}

.text {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.table li {
  margin: 10px;
  margin: 0;
  padding: 5px 0 5px 10px;
  border-radius: 3px;
}

.add-score2 ul li {
  margin: 10px;
}

.table li:nth-child(even) {
  background-color: rgba(148, 147, 147, 0.502);
}

.f-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
  width: 400px;
  justify-content: space-between;
}

p {
  margin: 0;
}

.table {
  border: 2px solid black;
  width: 400px;
  box-sizing: border-box;
  margin-left: 20px;
  border-radius: 8px;
}

.container {
  display: flex;
  gap: 100px;
}

.input {
  margin: 10px 0 10px 0;
  height: 30px;
  border-color: black;
  border-radius: 5px;
  width: 200px;
}

.btn {
  margin-left: 138px;
  box-shadow: 5px 5px black;
  background-color: gray;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  width: 70px;
}

::placeholder {
  color: #000;
  background-color: aliceblue;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
}

footer {
  color: rgb(18, 18, 94);
  text-align: center;
  position: relative;
  margin-top: 200px;
}

@media screen and (max-width: 678px) {
  .container {
    display: block;
  }

  .add-score {
    margin-left: 200px;
  }
}
